<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/layouts :: header">
</head>
<body>
    <nav th:replace="fragments/layouts :: navbar">
    </nav>
    <div class="container">
        <div class="row">
            <div th:replace="fragments/layouts :: main-content">
            </div>
        </div>
        <hr/>
        <footer th:fragment = "footer">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright &copy; 2019 Tutorial Republic</p>
                </div>
                <div class="col-md-6 text-md-right">
                    <a href="#" class="text-dark">Terms of Use</a>
                    <span class="text-muted mx-2">|</span>
                    <a href="#" class="text-dark">Privacy Policy</a>
                </div>
            </div>
        </footer>
    </div>
    <table>
        <tr th:each="var : ${#vars}">
            <td th:text="${var.key}"></td>
            <td th:text="${var.value}"></td>
        </tr>
    </table>
</body>
</html>