<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/layouts :: header">
</head>
<body>
<nav th:replace="fragments/layouts :: navbar">
</nav>
<div class="container">
    <div class="row">
        <div th:replace="fragments/layouts :: menu">
        </div>
        <div th:replace="fragments/layouts :: newnode">
        </div>
        <script th:replace="fragments/layouts :: wysiwyg"></script>
    </div>
    <hr/>
    <footer th:replace="fragments/layouts :: footer"></footer>
</div>
</body>
</html>