<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/layouts :: header">
</head>
<body>
<nav th:replace="fragments/layouts :: navbar">
</nav>
<div class="container">
    <div class="row">
        <div th:replace="fragments/layouts :: menu">
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <span>SHOW</span>
            </li>
            <li class="nav-item">
                <a th:href="@{/node/{id}/edit(id = ${node.id})}">EDIT</a>
            </li>
        </ul>
        <div class="col-md-11 col-lg-9 col-xl-8">
           <h2 th:text="${node.title}"></h2>
            <p th:text="${node.body}"></p>
        </div>
    </div>
    <hr/>
    <footer th:fragment = "footer">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; 2019 Tutorial Republic</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#" class="text-dark">Terms of Use</a>
                <span class="text-muted mx-2">|</span>
                <a href="#" class="text-dark">Privacy Policy</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>