<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/layouts :: header">
</head>
<body>
<nav th:replace="fragments/layouts :: navbar">
</nav>
<div class="container">
    <div class="row">
        <div th:replace="fragments/layouts :: menu">
        </div>
        <ul th:if="${editableByCurrentUser}" class="nav nav-tabs">
            <li class="nav-item">
                <a th:href="@{/node/{id}/edit(id = ${node.id})}">EDIT</a>
            </li>
        </ul>
        <div class="col-md-11 col-lg-9 col-xl-8">
            <div class="form-group">
                <h2 th:text="${node.title}"></h2>
            </div>
            <div class="form-group" th:utext="${node.body}"></div>
        </div>
    </div>
    <hr/>
    <script th:replace="fragments/layouts :: highlight"></script>
    <footer th:replace="fragments/layouts :: footer"></footer>
</div>
</body>
</html>